{% extends "layout.html" %}
{% block body %}
<!--   {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %} -->
  {% if session.logged_in %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>USER_NAME: {{ entry.username }}</h2>
    USER_ID: {{ entry.user_id|safe }}<br>
    POST_COUNT: {{ entry.post_count }}<br>
    FOLLOWER_COUNT: {{ entry.follower_count }}<br>
    FOLLOWING_COUNT: {{ entry.following_count }}<br>
    LOOP_COUNT: {{ entry.loop_count }}<br>
    LIKE_COUNT: {{ entry.like_count }}<br>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  {% endif %}
  <h2> That's all. </h2>
{% endblock %}